#whole {
    text-align: center;

}

h1 {
    font-size: 2.5em;
    margin-top: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    margin: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bit,
.bit2 {
    width: 2.5em;
    height: 2.5em;
    background-color: lightgrey;
    border-radius: 0.25em;
    margin: 0.5em;
    display: inline-block;

    cursor: pointer;
    transition: background-color 0.1s;
}

.on {
    background-color: #7e408e;
}

.bitholder,
.bitholder2 {
    padding: 1em;
    border-top: solid 2px #d8d8d8;
    border-radius: 0.75em;
}

.byteholder {
    width: fit-content;
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin: 1em;
}

.number,
.number2,
.total {
    font-size: 1.2em;
    margin: 1em auto;
    border-radius: 0.25em;
    padding: 0.5em;
    border: none;
    text-align: center;
    background-color: lightgrey;
    width: fit-content;


}

.wordholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: solid 2px #d8d8d8;
    border-radius: 0.75em;
    width: fit-content;
    justify-self: center;
}

@media screen and (max-width: 600px) {
    .wordholder {
        flex-direction: column;
        /* make it somewhat usable for mobile */
        padding-top: 2em;
        justify-content: space-between;
    }

    .bitholder,
    .bitholder2 {
        display: flex;
        flex: 0 1 auto;
        /* flex-flow: row wrap; */
        flex-wrap: wrap-reverse;
    }

    .bit,
    .bit2 {
        flex-basis: 20%;
        flex-grow: 0;
        flex-shrink: 1;
        aspect-ratio: 1;
        height: 100%;
    }

    h1 {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}